<app-menu></app-menu>
<div class="body-wrap">
  <div class="body">
    <mat-card>
      <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input id="name" matInput type="text" formControlName="name">

            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert alert-danger">

              <div *ngIf="name.errors.required">
                Name is required.
              </div>
              <div *ngIf="name.errors.minlength">
                Name must be at least 5 characters long.
              </div>
              <div *ngIf="name.errors.maxlength">
                Name must be no more than 40 characters.
              </div>
            </div>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput type="text" formControlName="price">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" [min]="currentDate" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Categories</mat-label>
            <mat-select formControlName="categoryId">
              <mat-option *ngFor="let category of categoryService.getCategories" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-button>Add</button>
        </div>
      </form>
      <div *ngFor="let product of productService.getProducts; let j = index;" class="product">
        <div>{{j + 1}} - {{product.name}}</div>

        <div class="control">
          <button mat-button (click)="deleteProduct(product)">Delete</button>
          <button mat-button [routerLink]="['/edit-product', product.id]">Edit</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
